.cart {
  width: 965px;
  height: 430px;
  background-color: #EBEBEB;
  border-radius: 15px;
  padding: 29px;
  margin: 0 0 10px 10px;
}

.text {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  margin: 0 0 10px 10px;
}