.discountOnFacebook {
  width: 250px;
  height: 255px;
  background: linear-gradient(0.35turn,#66E1E9, #003079);
  padding: 30px 12px;
}

.discountOnFacebook__title {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 40px;
}

.discountOnFacebook__link {
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;

}
.sign {
  height: 41px;
  width: 41px;
  margin-bottom: 20px;
}