.title {
  font-weight: 700;
  font-size: 30px;
    margin-bottom: 8px;
}

.paragraph {
  font-size: 16px;
  margin-bottom: 30px;
}

.cart {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 210px;
  background-color: #EBEBEB;
  border-radius: 15px;
  padding: 29px;
  margin: 0 0 10px 10px;
}

.link {
}