.text__container {
margin-left: 5px;
  margin-top: 35px;
  margin-bottom: 120px;
}

.text__title {
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 10px
}

.text__description {
  font-weight: 400;
  font-size: 18px;
}